[bot]
token = xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
webhook_host = https://your.domain
webhook_path = /path/to/api

[buttons]
run_commands = run commands
books = Books

[commands]
whitelist_add = echo '{0}' | ssh  -p 22 -i ~/.ssh/key_for_server username@ip -T "cat >> /home/username/countries.txt" && echo 'Command {0} added'
database = /path/to/base.db

[calibre]
database = /path/to/metadata.db
url = https://books.domain.com/calibre/book/
show_books_quantity = 5
